# Operadores y Tipos de Operadores

¿Qué son los operadores
- Son un conjunto de símbolos para un lenguaje de programación
- Pueden decirle al compilador o intérprete que ejecute ciertas acciones para producit un resultado final
- Pueden ser usados para aplicar operaciones en variables o valores
- Pueden ser clasificados según su tipo (aritméticos, relaciones, de asignación, lógicos, afiliación y de identidad)

Tipos de operadores:
- Aritméticos
- Relacionales
- De Asignación
- Lógicos
- De Afiliación
- De Identidad

### Operadores aritméticos
- "+": suma
- "-": resta
- "*": multiplicación
- "/": división
- "//": división con redondeo hacia abajo
- "**": exponente

In [2]:
# "+": suma
num_1 = 500
num_2 = 300
print("El resultado de num_1+num_2 es:",num_1+num_2)

El resultado de num_1+num_2 es: 800

In [3]:
# "-": resta
num_1 = 500
num_2 = 300
print("El resultado de num_1-num_2 es:",num_1-num_2)

El resultado de num_1-num_2 es: 200

In [4]:
# "-": resta
num_1 = 200
num_2 = 900
print("El resultado de num_1-num_2 es:",num_1-num_2)

El resultado de num_1-num_2 es: -700

In [5]:
# "*": multiplicación
num_1 = 500
num_2 = 300
print("El resultado de num_1*num_2 es:",num_1*num_2)

El resultado de num_1*num_2 es: 150000

In [6]:
# "*": multiplicación
num_1 = 200
num_2 = 900
print("El resultado de num_1*num_2 es:",num_1*num_2)

El resultado de num_1*num_2 es: 180000

In [7]:
# "/": división
num_1 = 500
num_2 = 300
print("El resultado de num_1/num_2 es:",num_1/num_2)

El resultado de num_1/num_2 es: 1.6666666666666667

In [8]:
# "/": división
num_1 = 200
num_2 = 900
print("El resultado de num_1/num_2 es:",num_1/num_2)

El resultado de num_1/num_2 es: 0.2222222222222222

In [10]:
# "//": división con redondeo hacia abajo, la parte entera del resultado
num_1 = 500
num_2 = 300
print("El resultado de num_1//num_2 es:",num_1//num_2)

El resultado de num_1//num_2 es: 1

In [11]:
# "//": división con redondeo hacia abajo, la parte entera del resultado
num_1 = 200
num_2 = 900
print("El resultado de num_1//num_2 es:",num_1//num_2)

El resultado de num_1//num_2 es: 0

In [13]:
# "**": exponente (Elevar a un exponente)
num_1 = 2
num_2 = 5
print("El resultado de num_1**num_2 es:",num_1**num_2) # 2*2*2*2*2

El resultado de num_1**num_2 es: 32

In [14]:
# "**": exponente (Elevar a un exponente)
num_1 = 3
num_2 = 3
print("El resultado de num_1**num_2 es:",num_1**num_2) # 3*3*3

El resultado de num_1**num_2 es: 27

### Operadores Relacionales

¿Qué son los operadores relacionales?
- Son también conocidos como Operadores de Comparación
- Regresan un valor booleano (Verdadero o Falso)
- En Python, son usados para comparar o relacionar los valores
- Verdadero/True, es el resultado cuando la condición es exitosa
- Falso/False, es el resultado cuando la condición no se cumple
- Estos operadores se encargan de las operaciones de comparación

Tipos de Operadores Relacionales
- "==": igual a
- "!=": diferente a
- ">": mayor que
- ">=": mayor o igual que
- "<": menor que
- "<=": menor o igual que

In [15]:
# "==": igual a

In [19]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1==num_2 es:",num_1==num_2)

El resultado de num1==num2 es: False

In [20]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1==num_2 es:",num_1==num_2)

El resultado de num1==num2 es: True

In [24]:
str_1 = "Empanada" # asignación
str_2 = "Empanada"
str_1 = "Empanada" # asignación
str_2 = "Empanada"

El resultado de str_1==str_2 es: True

In [25]:
str_1 = "Empanada" # asignación
str_2 = "EmpanadA"
print("El resultado de str_1==str_2 es:",str_1==str_2)

El resultado de str_1==str_2 es: False

In [26]:
# "!=": diferente a

In [27]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1!=num_2 es:",num_1!=num_2)

El resultado de num_1!=num_2 es: True

In [28]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1!=num_2 es:",num_1!=num_2)

El resultado de num_1!=num_2 es: False

In [29]:
str_1 = "Empanada" # asignación
str_2 = "Empanada"
print("El resultado de str_1!=str_2 es:",str_1!=str_2)

El resultado de str_1!=str_2 es: False

In [30]:
str_1 = "Empanada" # asignación
str_2 = "EmpanadA"
print("El resultado de str_1!=str_2 es:",str_1!=str_2)

El resultado de str_1!=str_2 es: True

In [31]:
# ">": mayor que

In [32]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1>num_2 es:",num_1>num_2)

El resultado de num_1>num_2 es: True

In [33]:
num_1 = 570 # asignación
num_2 = 820
print("El resultado de num_1>num_2 es:",num_1>num_2)

El resultado de num_1>num_2 es: False

In [34]:
num_1 = 820 # asignación
num_2 = 820
print("El resultado de num_1>num_2 es:",num_1>num_2)

El resultado de num_1>num_2 es: False

In [35]:
# ">=": mayor o igual que

In [36]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1>=num_2 es:",num_1>=num_2)

El resultado de num_1>=num_2 es: True

In [37]:
num_1 = 820 # asignación
num_2 = 820
print("El resultado de num_1>=num_2 es:",num_1>=num_2)

El resultado de num_1>=num_2 es: True

In [39]:
num_1 = 520 # asignación
num_2 = 820
print("El resultado de num_1>=num_2 es:",num_1>=num_2)

El resultado de num_1>=num_2 es: False

In [40]:
# ">": menor que

In [41]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1<num_2 es:",num_1<num_2)

El resultado de num_1<num_2 es: False

In [42]:
num_1 = 570 # asignación
num_2 = 820
print("El resultado de num_1<num_2 es:",num_1<num_2)

El resultado de num_1<num_2 es: True

In [43]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1<num_2 es:",num_1<num_2)

El resultado de num_1<num_2 es: False

In [44]:
# "<=": menor o igual que

In [45]:
num_1 = 570 # asignación
num_2 = 420
print("El resultado de num_1<=num_2 es:",num_1<=num_2)

El resultado de num_1<=num_2 es: False

In [46]:
num_1 = 570 # asignación
num_2 = 570
print("El resultado de num_1<=num_2 es:",num_1<=num_2)

El resultado de num_1<=num_2 es: True

In [47]:
num_1 = 570 # asignación
num_2 = 890
print("El resultado de num_1<=num_2 es:",num_1<=num_2)

El resultado de num_1<=num_2 es: True

### Operadores de Asignación

¿Qué son los Operadores de Asignación?
- En Python son usados para asignar valores a variables
- Incluyen al operador de asignación que es el signo de igual (=)

Tipos de Operadores de Asignación:
- "=": Operador de Asignación
- "+=": Sumar y Asignar
- "-=": Restar y Asignar
- "*=": Multiplicar y Asignar
- "/=": Dividir y Asignar
- "//=": Dividir con redondeo hacia abajo y Asignar
- "%=": Módulo y Asignar
- "**=": Exponente y Asignar

In [48]:
# "=": Operador de Asignación

In [49]:
num_1 = 20
num_2 = 3

In [50]:
# "+=": Sumar y Asignar

In [51]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ", num_1)
num_1 += num_2 # num_1 = num_1 + num_2
print("num_1 después de la operación: ", num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  23

In [ ]:
# "-=": Restar y Asignar

In [52]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ", num_1)
num_1 -= num_2 # num_1 = num_1 - num_2
print("num_1 después de la operación: ", num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  17

In [ ]:
# "*=": Multiplicar y Asignar

In [53]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ", num_1)
num_1 *= num_2 # num_1 = num_1 * num_2
print("num_1 después de la operación: ", num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  60

In [54]:
# "/=": Dividir y Asignar

In [55]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ", num_1)
num_1 /= num_2 # num_1 = num_1 / num_2
print("num_1 después de la operación: ", num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  6.666666666666667

In [56]:
# "%=": Modular y Asignar - El número que queda después de haber dividio, residuo.

In [57]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ", num_1)
num_1 %= num_2 # num_1 = num_1 % num_2
print("num_1 después de la operación: ", num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  2

In [58]:
# "**=": Exponente y Asignar
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ", num_1)
num_1 **= num_2 # num_1 = num_1 ** num_2
# 20*20*20
print("num_1 después de la operación: ", num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  8000

### Operadores Lógicos

¿Qué son los Operadores Lógicos?
- Son usados principalmente para declaraciones condicionales
- SOn indicadores estructurales
- También se les conoce como Conectores Lógicos
- Hay 3 (tres) tipos de Operadores Lógicos
    - AND (y) - regresa True/Verdadero si ambas operaciones son verdaderas
    - OR (o) - regresa True/Verdadero si una de las operaciones son verdaderas
    - NOT (lo opuesto) - regresa True/Verdadero si la operación es False/Falso

In [59]:
# AND (y)
# Todas las condiciones deben ser Verdaderas

In [60]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
print("num_1<=num_2 and num_1!=num_2",num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2 True

In [61]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
print("num_1<=num_2 and num_1!=num_2",num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2 False

In [62]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
# num_1>10: True/Verdadero
print("num_1<=num_2 and num_1!=num_2 and num_1>10",num_1<=num_2 and num_1!=num_2 and num_1>10)

num_1<=num_2 and num_1!=num_2 num_1>10 True

In [63]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
# num_1>10: True/Verdadero
print("num_1<=num_2 and num_1!=num_2 and num_1>10",num_1<=num_2 and num_1!=num_2 and num_1>10)

num_1<=num_2 and num_1!=num_2 num_1>10 False

In [64]:
# OR (o) - Con que una de las condicines se cumpla regresa True

In [66]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
print("num_1<=num_2 or num_1!=num_2",num_1<=num_2 or num_1!=num_2)

num_1<=num_2 or num_1!=num_2 True

In [67]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
print("num_1<=num_2 or num_1!=num_2",num_1<=num_2 or num_1!=num_2)

num_1<=num_2 or num_1!=num_2 True

In [68]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
# num_1>10: True/Verdadero
print("num_1<=num_2 or num_1!=num_2 or num_1>10",num_1<=num_2 or num_1!=num_2 or num_1>10)

num_1<=num_2 or num_1!=num_2 or num_1>10 True

In [69]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
# num_1>10: True/Verdadero
print("num_1<=num_2 or num_1!=num_2 or num_1>10",num_1<=num_2 or num_1!=num_2 or num_1>10)

num_1<=num_2 or num_1!=num_2 or num_1>10 True

In [70]:
# NOT (Lo opuesto)
# La condición debe ser falsa

In [71]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
print("not num_1<=num_2", not num_1<=num_2)

not num_1<=num_2 False

In [72]:
num_1 = 11
num_2 = 55
# num_1!=num_2: True/Verdadero
print("not num_1!=num_2", not num_1!=num_2)

not num_1!=num_2 False

In [73]:
num_1 = 11
num_2 = 55
# num_1>num_2: False/Falso
print("not num_1>num_2", not num_1>num_2)

not num_1>num_2 True

### Operadores de Afiliación

¿Qué son los operadores de afiliación?
- Son usados para validad los elementos en listas, cadenas y tuplas
- Validan si una variable está presente en una secuencia
- Regresan un valor Booleano con el resultado True/False
- Regresan True/Verdadero si el valor está presente en la secuencia
- Regresan False/Falso si el valor no está presente en la secuencia
- Hay 2 (Dos) operadores de afiliación:
    - IN - el valor está en la secuencia
    - NOT IN - el valor no está en la secuencia

In [74]:
# IN: ¿El valor está presente en la secuencia?"

In [75]:
my_string = "Backend Python"
print("'a' in my_string",'a' in my_string)

'a' in my_string True

In [76]:
my_string = "Backend Python"
print("'i' in my_string",'i' in my_string)

'i' in my_string False

In [77]:
my_list = [1, 154, 321, 22, 11]
print("5 in my_list", 5 in my_list)

5 in my_list False

In [80]:
my_list = [1, 154, 321, 22, 11, 5, 11, 22, 5 , 1]
print("5 in my_list", 5 in my_list)

5 in my_list True

In [81]:
my_list

[1, 154, 321, 22, 11, 5, 11, 22, 5, 1]

In [83]:
my_set = {1, 154, 321, 22, 11, 5, 11, 22, 5 , 1}
print("5 in my_set", 5 in my_set)

5 in my_set True

In [84]:
my_set

{1, 5, 11, 22, 154, 321}

In [85]:
# NOT IN: ¿El valor NO está presente en la secuencia?

In [86]:
my_string = "Backend Python"
print("'a' not in my_string",'a' not in my_string)

'a' not in my_string False

In [87]:
my_string = "Backend Python"
print("'i' not in my_string",'i' not in my_string)

'i' not in my_string True

In [88]:
my_list = [1, 154, 321, 22, 11]
print("5 not in my_list", 5 not in my_list)

5 not in my_list True

In [89]:
my_list = [1, 154, 321, 22, 11, 5, 11, 22, 5 , 1]
print("5 not in my_list", 5 not in my_list)

5 not in my_list False

In [90]:
my_set = {1, 154, 321, 22, 11, 5, 11, 22, 5 , 1}
print("5 not in my_set", 5 not in my_set)

5 not in my_set False

### Operadores de Identidad

¿Qué son los Operadores de Identidad?
- Son usados para comparar la ubicación en memoria de dos objetos
- Se utilizan para validad si los valores comparten el mismo espacio en la memoria o no
- Regresa True/Verdadero si lo comparten, y False/Falso si no lo comparten
- Hay 2 Operadores de Identidad
    - IS
    - IS NOT

In [91]:
num_1 = 11
num_2 = 55
print("num_1 is num_2",num_1 is num_2)

num_1 is num_2 False

In [92]:
num_1 = 77
num_2 = 77
print("num_1 is num_2",num_1 is num_2)

num_1 is num_2 True

In [93]:
num_1 = 11
num_2 = 55
print("num_1 is not num_2",num_1 is not num_2)

num_1 is not num_2 True

In [94]:
num_1 = 77
num_2 = 77
print("num_1 is not num_2",num_1 is not num_2)

num_1 is not num_2 False

### Conversión de Tipos

¿Qué es la conversión de tipos?
- Es el proceso de conversión de un tipó de dato a otro tipo de dato
- Es un paso muy importante para combinar múltiples fuentes de datos en un formato específico
- Hay 2 tipos:
    - Conversión implícita: hecha de forma automática por el intérprete de python
    - Conversión explícita

In [95]:
# Conversión Implícita

In [96]:
14+2.0

16.0

In [97]:
14+2.0+3

19.0

In [98]:
# Conversión Explícita

In [99]:
int(199.99)

199

In [100]:
float(58)

58.0

In [101]:
complex(4)

(4+0j)

### Conversión int

In [102]:
int (10.78) # float a int

10

In [103]:
int(False) # bool a int

0

In [104]:
int(True) # bool a int

1

In [105]:
# error
int(5+3j) #complex a int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [107]:
int("120") # string a entero

120

In [108]:
# error
int("120.5") # string a int

ValueError: invalid literal for int() with base 10: '120.5'

### Conversión float

In [109]:
float(23) # int a float

23.0

In [110]:
float(23+3j) # complex a float

TypeError: float() argument must be a string or a real number, not 'complex'

In [111]:
float(True) # bool a float

1.0

In [112]:
float("843.29") # string a float

843.29

In [113]:
float("843") #string a float

843.0

In [114]:
# error
float("843t") #string a float

ValueError: could not convert string to float: '843t'

In [115]:
# error
float("True") # string a float

ValueError: could not convert string to float: 'True'

### Conversiones complex

In [116]:
complex(42) # int a complex

(42+0j)

In [117]:
complex(92.8) # float a complex

(92.8+0j)

In [118]:
complex(True) # bool a complex

(1+0j)

In [119]:
complex(False) # bool a complex

0j

In [120]:
complex("24") # string a complex

(24+0j)

In [121]:
complex("24.67") # string a complex

(24.67+0j)

In [122]:
# error
complex("Backend") # string a complex

ValueError: complex() arg is a malformed string

In [123]:
# error
complex("Backend 24") # string a complex

ValueError: complex() arg is a malformed string

In [124]:
# error
complex("10c") # string a complex

ValueError: complex() arg is a malformed string

In [126]:
complex("10j") # string a complex

10j

### Conversiones bool

In [127]:
bool(0) # int a bool

False

In [128]:
bool(7) # int a bool

True

In [129]:
bool(7.8) # float a bool

True

In [130]:
bool(-1.8) # float a bool

True

In [131]:
bool(0.0) # float a bool

False

In [132]:
bool(0+3j) # complex a bool

True

In [133]:
bool(0+0j) # complex a bool

False

In [134]:
bool(2+0j) # complex a bool

True

In [135]:
bool("Python") # string a bool

True

In [136]:
bool(" ") # string a bool

True

In [137]:
bool("") # string a bool

False

In [138]:
bool("0") # string a bool

True

### Conversiones str

In [139]:
str(25) # int a str

'25'

In [140]:
str(25.2) # float a str

'25.2'

In [141]:
str(6+8j) # complex a str

'(6+8j)'

In [142]:
str(True) # bool a str

'True'

# Funciones Básicas

### trunc()

In [143]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000000001
print("num_1: ",num_1)
print("num_2: ",num_2)
print("num_3: ",num_3)
print("num_4: ",num_4)

num_1:  64.99
num_2:  64.5
num_3:  64.51
num_4:  64.000000001

In [144]:
from math import trunc
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000000001
print("trunc(num_1): ",trunc(num_1))
print("trunc(num_2): ",trunc(num_2))
print("trunc(num_3): ",trunc(num_3))
print("trunc(num_4): ",trunc(num_4))

trunc(num_1):  64
trunc(num_2):  64
trunc(num_3):  64
ntrunc(num_4):  64

### round(), ceil() y floor()

In [145]:
# round
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000000001
print("round(num_1): ",round(num_1))
print("round(num_2): ",round(num_2))
print("round(num_3): ",round(num_3))
print("round(num_4): ",round(num_4))

round(num_1):  65
round(num_2):  64
round(num_3):  65
round(num_4):  64

In [146]:
# ceil
from math import ceil
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000000001
print("ceil(num_1): ",ceil(num_1))
print("ceil(num_2): ",ceil(num_2))
print("ceil(num_3): ",ceil(num_3))
print("ceil(num_4): ",ceil(num_4))

ceil(num_1):  65
ceil(num_2):  65
ceil(num_3):  65
ceil(num_4):  65

In [151]:
# floor
from math import floor
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000000001
print("floor(num_1): ",floor(num_1))
print("floor(num_2): ",floor(num_2))
print("floor(num_3): ",floor(num_3))
print("floor(num_4): ",floor(num_4))

floor(num_1):  64
floor(num_2):  64
floor(num_3):  64
floor(num_4):  64

### Función %

In [161]:
num_1 = 64.99
num_2 = 64.50
num_3 = 64.51
num_4 = 64.000000001
print("'%.1f' % (num_1): ",'%.1f' % (num_1))
print("'%.3f' % (num_2): ",'%.3f' % (num_2))
print("'%.4f' % (num_3): ",'%.4f' % (num_3))
print("'%.5f' % (num_4): ",'%.5f' % (num_4))

'%.1f' % (num_1):  65.0
'%.3f' % (num_2):  64.500
'%.4f' % (num_3):  64.5100
'%.5f' % (num_4):  64.00000

### format()

In [158]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000000001
print("'{:.1f}' .format(num_1): ",'{:.1f}' .format(num_1))
print("'{:.3f}' .format(num_1): ",'{:.3f}' .format(num_2))
print("'{:.4f}' .format(num_1): ",'{:.4f}' .format(num_3))
print("'{:.5f}' .format(num_1): ",'{:.5f}' .format(num_4))

'{:.1f}' .format(num_1):  65.0
'{:.3f}' .format(num_1):  64.500
'{:.4f}' .format(num_1):  64.5100
'{:.5f}' .format(num_1):  64.00000

In [162]:
for i in range(4,15):
    print("{:6d} {:6d} {:6d}".format(i,i*i,i*i*i))

     4     16     64
     5     25    125
     6     36    216
     7     49    343
     8     64    512
     9     81    729
    10    100   1000
    11    121   1331
    12    144   1728
    13    169   2197
    14    196   2744

In [163]:
for i in range(4,15):
    print(i,i*i,i*i*i)

4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000
11 121 1331
12 144 1728
13 169 2197
14 196 2744