## Creando y Modificando sets

In [2]:
my_set = set()
my_set.add("python")
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
1
{'python'}

In [3]:
# Listas - []
# Tuplas - ()
# Sets - {}

In [5]:
my_set = set()
my_set.add("python")
my_set.update((23,"Backend", 3.1416))

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'Backend', 'python', 3.1416, 23}

In [6]:
my_set = set()
my_set.add("python")
my_set.update((23,"Backend", 3.1416))

my_set.add("python")
my_set.add("python")
my_set.add("python")
my_set.add(23)
my_set.add(23)
my_set.add(23)
my_set.add(3.1416)
my_set.add(3.1416)
my_set.add(3.1416)

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'Backend', 'python', 3.1416, 23}

In [8]:
my_set = {'Backend', 'python', 3.1416, 23}
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'Backend', 'python', 3.1416, 23}

# Métodos para manipulación de sets

### add
Agregar un elemento a un set

In [9]:
my_set = {1,11,5, 23}
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{1, 11, 5, 23}

In [11]:
my_set.add(1)
my_set.add(2)
my_set.add(3)

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
6
{1, 2, 3, 5, 11, 23}

### clear
Remueve todos los elementos del set

In [13]:
my_set = {1,11,5, 23}

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.clear()

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
0
set()

### copy
Copia los elementos en un nuevo set

In [17]:
my_set = {1,11,5, 23}
my_set_2 = my_set.copy()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,"\n")

my_set_2.clear()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,"\n")

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
0
set()

In [18]:
my_set = {1,11,5, 23}
my_set_2 = my_set

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,"\n")

my_set_2.clear()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2,"\n")

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
0
set()

<class 'set'>
0
set()

### difference
Obtiene los valores presentes en el primer set y faltantes en el segundo set

In [19]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

#valores que hay en set_b faltantes en set_a
print(set_b.difference(set_a))

#valores que hay en set_a faltantes en set_b
print(set_a.difference(set_b))

{8, 2, 4, 6}
{9, 3, 5}

### difference_update
Conserva solo los valores diferentes entre el set solcitado y el que es mandado como parámetro

In [21]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

#valores que hay en set_b faltantes en set_a
set_b.difference_update(set_a)
print(set_b)

#valores que hay en set_a faltantes en set_b
set_a.difference_update(set_b)
print(set_a)

{2, 4, 6, 8}
{1, 3, 5, 7, 9}

In [24]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

#valores que hay en set_b faltantes en set_a
set_a.difference_update(set_b)
print(set_a)

#valores que hay en set_a faltantes en set_b
set_b.difference_update(set_a)
print(set_b)

{3, 5, 9}
{1, 2, 4, 6, 7, 8}

### discard
Eleimina un elemento del set si está presente

In [25]:
my_set = {"Python", "Javascript","Go","Scala"}

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.discard("Go")
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

# No importa que el valor no esté presente
my_set.discard("Go")
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

<class 'set'>
4
{'Javascript', 'Scala', 'Go', 'Python'}

<class 'set'>
3
{'Javascript', 'Scala', 'Python'}

<class 'set'>
3
{'Javascript', 'Scala', 'Python'}

### intersection
Obtiene los valores en común en 2 sets

In [26]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_b.intersection(set_a))
print(set_a.intersection(set_b))

{1, 7}
{1, 7}

### intersection_update
Obtiene los valores en común en 2 sets y los asigna al set que manda a llamar el método

In [28]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

set_a.intersection_update(set_b)

print(type(set_a))
print(len(set_a))
print(set_a,"\n")

print(type(set_b))
print(len(set_b))
print(set_b,"\n")
# set_a.intersection_update(set_b)

<class 'set'>
2
{1, 7}

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

### isdisjoint

True: si no hay valores compartidos por ambos sets

False: si hay por lo menos un valor compartido por ambos sets

In [29]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

False

In [30]:
set_a = {1,3}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

False

In [31]:
set_a = {0,3}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

True

### issubset
True: si todos los valores del set llamado están el set pasado como parámetro

In [34]:
set_a = {1,8}
set_b = {1,2,4,6,7,8}

print(set_a.issubset(set_b))

True

In [35]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

print(set_a.issubset(set_b))

False

### issuperset

- En cierta forma es opuesto a issubset
- Analiza si todos los valores del set pasado como parámetro están en el set llamado

In [37]:
set_a = {1,8}
set_b = {1,2,4,6,7,8}

print(set_b.issuperset(set_a))

True

In [38]:
set_a = {1,8}
set_b = {1,2,4,6,7,8}

print(set_a.issuperset(set_b))

False

### pop
Elimina el primer elemento del set

In [43]:
my_set = {1,2,4,6,7,8}

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(my_set.pop())
print(my_set.pop())
print(my_set.pop(),"\n")

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

1
2
4

<class 'set'>
3
{6, 7, 8}

### remove
elimina el elemento pasado como parámetro; debe estar presente en el set o mandará un error

In [44]:
my_set = {1,2,4,6,7,8}

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.remove(4)

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.remove(3)

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

<class 'set'>
5
{1, 2, 6, 7, 8}

KeyError: 3

### union
combina 2 sets

In [45]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

set_c = set_a.union(set_b)
print(set_c)

{1, 2, 3, 4, 6, 7, 8}

### update
Añade los valores del set pasado como parámetro

In [47]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

set_a.update(set_b)
print(set_a)
print(set_b)

{1, 2, 3, 4, 6, 7, 8}
{1, 2, 4, 6, 7, 8}

### symmetric_difference
Obtiene las diferencias en ambos sets

In [48]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

print(set_a.symmetric_difference(set_b))
print(set_b.symmetric_difference(set_a))

{2, 3, 4, 6, 7}
{2, 3, 4, 6, 7}

### symmetric_difference_update
Obtiene las diferencias en ambos sets y asigna los valores al set llamado

In [49]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

set_a.symmetric_difference_update(set_b)
print(set_a)
print(set_b)

{2, 3, 4, 6, 7}
{1, 2, 4, 6, 7, 8}

# Conversión de Sets

### Cadena a Set

In [51]:
my_string = "Backend Python"
my_set = set(my_string)

print(type(my_string))
print(my_string,"\n")

print(type(my_set))
print(my_set,"\n")

<class 'str'>
Backend Python

<class 'set'>
{'y', 'B', 't', 'h', 'o', 'P', 'c', 'k', 'd', 'n', 'a', 'e', ' '}

### Lista a Set

In [52]:
my_list = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5]
my_set = set(my_list)

print(type(my_list))
print(my_list,"\n")

print(type(my_set))
print(my_set,"\n")

<class 'list'>
[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

<class 'set'>
{1, 2, 3, 4, 5}

### Tupla a set

In [53]:
my_tuple = (1,1,1,2,2,2,3,3,3,4,4,4,5,5,5)
my_set = set(my_list)

print(type(my_tuple))
print(my_tuple,"\n")

print(type(my_set))
print(my_set,"\n")

<class 'tuple'>
(1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5)

<class 'set'>
{1, 2, 3, 4, 5}

### Set a cadena

In [57]:
my_set = {'y', 'B', 't', 'h', 'o', 'P', 'c', 'k', 'd', 'n', 'a', 'e', ' '} 
my_string = "".join(my_set)

print(type(my_set))
print(my_set,"\n")

print(type(my_string))
print(my_string,"\n")

<class 'set'>
{'o', 'y', 't', 'B', 'P', 'c', 'k', ' ', 'd', 'n', 'a', 'e', 'h'}

<class 'str'>
oytBPck dnaeh

### Set a lista

In [58]:
my_set = {1, 2, 3, 4, 5} 
my_list = list(my_set)

print(type(my_set))
print(my_set,"\n")

print(type(my_list))
print(my_list,"\n")

<class 'set'>
{1, 2, 3, 4, 5}

<class 'list'>
[1, 2, 3, 4, 5]

### Set a tupla

In [59]:
my_set = {1, 2, 3, 4, 5} 
my_tuple = tuple(my_set)

print(type(my_set))
print(my_set,"\n")

print(type(my_tuple))
print(my_tuple,"\n")

<class 'set'>
{1, 2, 3, 4, 5}

<class 'tuple'>
(1, 2, 3, 4, 5)