## Diferentes formas de crear listas

In [2]:
my_list = [3]*5
print(my_list)

[3, 3, 3, 3, 3]

In [3]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
my_list = []
for number in range (10):
    my_list.append(number)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
my_list = []
for number in range (10):
    my_list+=[number] #my_list = my_list + [number]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
my_list = [number for number in range (15)]
print(my_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## Obtener sublistas

In [17]:
my_list = [number for number in range (5,20)]
print(my_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
my_sublist = my_list[:4]
print(my_sublist)

[5, 6, 7, 8]

In [19]:
my_sublist = my_list[3:7]
print(my_sublist)

[8, 9, 10, 11]

In [20]:
my_sublist = my_list[10:]
print(my_sublist)

[15, 16, 17, 18, 19]

In [21]:
my_sublist = my_list[500:]
print(my_sublist)

[]

In [22]:
len(my_list)

15

## Creación de listas usando range y numpy

In [24]:
# range (inicio, fin, paso)
my_list = [*range(1,5,1)]
print(my_list)

[1, 2, 3, 4]

In [25]:
# range (inicio, fin, paso)
my_list = [*range(1,20,4)]
print(my_list)

[1, 5, 9, 13, 17]

In [26]:
import numpy as np
my_list = np.arange(1,20,4).tolist()
print(my_list)

[1, 5, 9, 13, 17]

## Listas anidadas

In [28]:
my_list = [1,2,3,4,5]
print(my_list)
print(my_list[3])

[1, 2, 3, 4, 5]
4

In [31]:
my_list = [[1,3,5],[2,4,6]]
print(my_list)
print(my_list[1])
print(my_list[1][2])

[[1, 3, 5], [2, 4, 6]]
[2, 4, 6]
6

## Ordenando Listas

In [32]:
my_list = [5,3,1,15,2,20]
print(my_list)
my_list.sort()
print(my_list)

[5, 3, 1, 15, 2, 20]
[1, 2, 3, 5, 15, 20]

In [34]:
my_list = [5,3,1,15,2,20]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[5, 3, 1, 15, 2, 20]
[20, 15, 5, 3, 2, 1]

In [36]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)
my_list.sort()
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['abeja', 'ballena', 'caballo', 'jirafa']

In [37]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['jirafa', 'caballo', 'ballena', 'abeja']

## Conversión de listas

### Cadenas a Listas

In [38]:
# Separar palabras
my_string = "Curso de Backend Python"
my_list = my_string.split()
print(my_string)
print(my_list)

Curso de Backend Python
['Curso', 'de', 'Backend', 'Python']

In [40]:
# Separar caracteres
my_string = "Curso de Backend Python"
my_list = list(my_string)
print(my_string)
print(my_list)

Curso de Backend Python
['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [42]:
# Separar caracteres en una lista de listas
my_string = "Curso de Backend Python"
my_list = list(map(list,my_string))
print(my_string)
print(my_list)

Curso de Backend Python
[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]

### Listas a Cadenas

In [47]:
# Usando espacios entre palabras
my_list = ['Curso', 'de', 'Backend', 'Python']
my_string =  " ".join(my_list)
print(my_list)
print(my_string)

['Curso', 'de', 'Backend', 'Python']
Curso de Backend Python

In [48]:
my_list = ['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']
my_string =  "".join(my_list)
print(my_list)
print(my_string)

['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']
Curso de Backend Python

In [49]:
my_list = [['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]
my_string =  "".join(["".join(element) for element in my_list])
print(my_list)
print(my_string)

[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]
Curso de Backend Python

## Creación de listas con valores de entrada

In [51]:
my_string = input("Ingresa los valores separados por espacio: ")
my_list= my_string.split()
print(my_string)
print(my_list)

Ingresa los valores separados por espacio: Hola Soy Samuel
Hola Soy Samuel
['Hola', 'Soy', 'Samuel']

# Métodos para manipulación de listas

## append
Agregar un elemento al final de una lista

In [1]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [2]:
my_list.append("delfín")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfín']
5

In [3]:
my_list.append("gato")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfín', 'gato']
6

In [4]:
my_list = [300, 500, 100, 200]
print(my_list)
print(len(my_list))

[300, 500, 100, 200]
4

In [5]:
my_list.append(111)
print(my_list)
print(len(my_list))

[300, 500, 100, 200, 111]
5

In [6]:
my_list.append(333)
print(my_list)
print(len(my_list))

[300, 500, 100, 200, 111, 333]
6

## insert
Agregar un valor a una lista en una posición específica

insert(índice,valor)

In [7]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [8]:
my_list.insert(2,"delfín")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'delfín', 'jirafa', 'ballena']
5

In [9]:
my_list.insert(1,"gato")
print(my_list)
print(len(my_list))

['caballo', 'gato', 'abeja', 'delfín', 'jirafa', 'ballena']
6

## clear

Eliminar todos los elementos de la lista

In [10]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [11]:
my_list.clear()
print(my_list)
print(len(my_list))

[]
0

In [12]:
my_list = [300, 500, 100, 200]
print(my_list)
print(len(my_list))

[300, 500, 100, 200]
4

In [13]:
my_list.clear()
print(my_list)
print(len(my_list))

[]
0

## copy

Copiar los elemtnos de una lista

In [14]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [15]:
my_list_copy = my_list.copy()
print(my_list)
print(my_list_copy)
print(len(my_list))
print(len(my_list_copy))

['caballo', 'abeja', 'jirafa', 'ballena']
['caballo', 'abeja', 'jirafa', 'ballena']
4
4

In [17]:
my_list_copy.clear()
print(my_list)
print(my_list_copy)
print(len(my_list))
print(len(my_list_copy))

['caballo', 'abeja', 'jirafa', 'ballena']
[]
4
0

In [18]:
my_list_assigned = my_list
my_list_assigned.clear()
print(my_list)
print(my_list_assigned)
print(len(my_list))
print(len(my_list_assigned))

[]
[]
0
0

## count

Cuenta cuántas veces aparece un elemento en una lista

In [19]:
my_list = [100,300,500,100,200,100,300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [20]:
print("El número 100 aparece {} veces en la lista".format(my_list.count(100)))

El número 100 aparece 3 veces en la lista

In [21]:
print("El número 300 aparece {} veces en la lista".format(my_list.count(300)))

El número 300 aparece 2 veces en la lista

## index

Obtiene el primer índice de una lista que hace match con el elemento solicitado

In [22]:
print("El índice de la primera aparición del número 100 es {}".format(my_list.index(100)))

El índice de la primera aparición del número 100 es 0

In [23]:
print("El índice de la primera aparición del número 500 es {}".format(my_list.index(500)))

El índice de la primera aparición del número 500 es 2

In [24]:
print("El índice de la primera aparición del número 300 es {}".format(my_list.index(300)))

El índice de la primera aparición del número 300 es 1

## extend

Combinar 2 listas

In [25]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [26]:
my_list_2 = ["delfín","gato"]
my_list.extend(my_list_2)
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfín', 'gato']
6

In [27]:
my_list = [100,300,500,100,200,100,300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [28]:
my_list_2 = [100,500,555,666]
my_list.extend(my_list_2)
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300, 100, 500, 555, 666]
11

## pop

Eliminar elementos de una lista basado en los índices

In [33]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7

In [34]:
# elimina índice -1 por default
my_list.pop()
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100]
6

In [35]:
my_list.pop(2)
print(my_list)
print(len(my_list))

[100, 300, 100, 200, 100]
5

## remove

Elimina la primera aparición de un valor en una lista

In [36]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7

In [38]:
my_list.remove(100)
print(my_list)
print(len(my_list))

[300, 500, 100, 200, 100, 300]
6

In [39]:
my_list.remove(100)
print(my_list)
print(len(my_list))

[300, 500, 200, 100, 300]
5

In [40]:
my_list.remove(100)
print(my_list)
print(len(my_list))

[300, 500, 200, 300]
4

In [41]:
# error - el valor debe estar en la lista
my_list.remove(100)
print(my_list)
print(len(my_list))

ValueError: list.remove(x): x not in list

## reverse

Invierte el orden de una lista

In [42]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [43]:
my_list.reverse()
print(my_list)
print(len(my_list))

['ballena', 'jirafa', 'abeja', 'caballo']
4

## sort

Ordena los elementos de una lista

In [44]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [45]:
my_list.sort()
print(my_list)
print(len(my_list))

['abeja', 'ballena', 'caballo', 'jirafa']
4

In [50]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))
my_list.sort()
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7
[100, 100, 100, 200, 300, 300, 500]
7

In [48]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[100, 300, 500, 100, 200, 100, 300]
[500, 300, 300, 200, 100, 100, 100]

In [49]:
my_list = ["caballo", "abeja", "jirafa", "ballena"]
print(my_list)
my_list.sort(reverse=True)
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['jirafa', 'caballo', 'ballena', 'abeja']

## Obtener un elemento aleatorio de una lista

In [51]:
import random
my_list = [100,300,500,100,200,100,300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [55]:
print(random.choice(my_list))

300

In [56]:
print(random.choice(my_list))
print(random.choice(my_list))
print(random.choice(my_list))
print(random.choice(my_list))

100
100
300
500